/* use .something to refer to a div, use # to refer to an ID, use just the name if it's a standard html element*/

.subhead{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-variant:normal;
	font-weight: 500;
	line-height: 20px;
}

.card {
  display: inline-block;
  float:left;
  height: 200px;
  width: 200px;

  margin: 10px;
  border-style: hidden;
  border-radius: 50%;
	background-color: tomato;
	border-style: solid;
}

.flipped img {
	visibility: visible;
}

.back img {
		visibility: hidden;
}

.matched  {
	visibility: hidden;
}

img  {
  height: inherit;
  width: inherit;
  border-radius: 50%;
}

/* replace the card back with a default card */
/* paste into */
 /*<img src={this.props.isFlipped ? this.props.src  : "/images/back2.jpg" } />*/
